<% if logged_in? %>
  <div>
    <aside>
      <%= form_with(model: @task) do |f| %>
        <div>
          <%= f.label :content, 'タスク' %>
          <%= f.text_field :content %>
        </div>
        <div>
          <%= f.label :status, 'ステータス' %>
          <%= f.text_field :status %>
        </div>
        <%= f.submit '投稿する' %>
      <% end %>
    </aside>
    <div>
      <%= render 'tasks/tasks', tasks:@tasks %>
    </div>
  </div>
<% else %>
  <div>
    <div>
      <h1>Tasklist app</h1>
      <%= link_to '新規登録する', signup_path %>
    </div>
  </div>
<% end %>